@model LaptopWorldStore.Models.sellbill

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h4 class="page-title">Delete</h4>

<div class="form-delete">
    <h3>Bạn có chắc chắn xóa?</h3>
    <div>
    
        <dl class="dl-horizontal">
                    <dt>
                @Html.DisplayNameFor(model => model.customer.customer_name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.customer.customer_name)
            </dd>

                            <dt>
                @Html.DisplayNameFor(model => model.billDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.billDate)
            </dd>

                    <dt>
                @Html.DisplayNameFor(model => model.shippingtype)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.shippingtype)
            </dd>

                    <dt>
                @Html.DisplayNameFor(model => model.total_paid)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.total_paid)
            </dd>

                    <dt>
                @Html.DisplayNameFor(model => model.flag)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.flag)
            </dd>

            </dl>

        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                 <input type="submit" value="Xóa" class="btn btn-danger" />
                @Html.ActionLink("Quay lại", "Index", "", new { @class = "btn btn-default" })
            </div>
        }
    </div>
</div>
