@model LaptopWorldStore.Models.product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h4 class="page-title">Sản phẩm</h4>


<div class="form-delete">
    <h3>Bạn có chắc chắn xóa?</h3>
    <div>

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.category.category_name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.category.category_name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.provider.provider_name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.provider.provider_name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.product_name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.product_name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.picture)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.picture)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.quantity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.quantity)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.decription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.decription)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.flag)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.flag)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Xóa" class="btn btn-danger" />
                @Html.ActionLink("Quay lại", "Index", "", new { @class = "btn btn-default" })
            </div>
        }
    </div>
</div>
