@model LaptopWorldStore.Models.product

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    
}

<h4 class="page-title">Sản phẩm</h4>


<div class="form-edit">
    <div>

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.category.category_name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.category.category_name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.provider.provider_name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.provider.provider_name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.product_name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.product_name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.picture)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.picture)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.quantity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.quantity)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.decription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.decription)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.flag)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.flag)
            </dd>

        </dl>
   
                @if(Model.category.category_name == "laptop")
            {
                <p>@ViewBag.laptop.monitor</p>
            }
            
    </div>
    <p style="margin-left: 3rem">
        @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.product_id }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Quay lại", "Index", "", new { @class = "btn btn-default" })
    </p>
</div>
