@model LaptopWorldStore.Models.receiptbill

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
<link href="@Url.Content("~/Content/css/admin.css")" rel="stylesheet" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
<style>
    .logo-print {
        text-align: center;
        position:relative;
    }
    .logo-print img{
        left: 30%;
    }
</style>
<div ng-app="app">
    <div class="page-content container" ng-show="Details != null" ng-controller="receiptbill" ng-init="GetDetail('@Model.receiptbill_id')">
        <div class="page-header text-blue-d2">
            

            <div class="page-tools">
                <div class="action-buttons">
                    <a class="btn bg-white btn-light mx-1px text-95" href="@Url.Action("Index","receiptbills")"><i class="fas fa-home"></i>Back</a>
                    <a class="btn bg-white btn-light mx-1px text-95" id="bill-print" href="#" data-title="Print" role="button">
                        <i class="mr-1 fa fa-print text-primary-m1 text-120 w-2"></i>
                        Print
                    </a>

                </div>
            </div>
            <h1 class="page-title text-secondary-d1">
                Hóa đơn
                <small class="page-info">
                    <i class="fa fa-angle-double-right text-80"></i>
                    ID:@Model.receiptbill_id
                </small>
            </h1>
        </div>
        <div id="place-to-print">
            <div class="logo-print">
                <div class="">
                    <img src="/Content/images/logo.png" class="col-3" />
                </div>
            </div>
            <div class="flex">
                <div class="col-6">
                    <h4>Cửa hàng bán laptop, Linh kiện laptop LAPTOP WORLD</h4>
                    <h4>Chợ Phủ, Khoái Châu, Hưng Yên</h4>

                </div>
                <div class="col-5">
                    <h4>Nhà cung cấp: @Model.provider.provider_name</h4>
                    <h4>Địa chỉ: @Model.provider.address</h4>
                    <h4>Số điện thoại: @Model.provider.phonenumber</h4>

                </div>
            </div>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Mã sản phẩm</th>
                        <th scope="col">Tên sản phẩm</th>
                        <th scope="col">Số lượng</th>
                        <th scope="col">Giá bán</th>
                        <th scope="col">Thành tiền</th>
                    </tr>
                </thead>
                <tbody ng-repeat="item in Details track by $index">
                    <tr>
                        <td>{{item.product_id}}</td>
                        <th scope="row">{{item.product_name}}</th>
                        <td>{{item.quantity}}</td>
                        <td> {{item.price | currency:'' :0}}đ</td>
                        <td>{{item.grand_paid| currency:'' :0}}đ</td>
                    </tr>

                </tbody>
                <tr>
                    <td colspan="3"></td>
                    <th>Tổng tiền</th>
                    <td>@string.Format("{0:#,###,000}", Model.total_paid) đ</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Content/js/app.js"></script>
<script src="~/Content/js/adminReceiptBill.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $('#bill-print').click(function () {
        $('.page-tools').css('display', 'none');
        window.print()
    });
    window.onafterprint = function () {
        $('.page-tools').css('display', 'block');
    }
</script>