@model IPagedList<LaptopWorldStore.Models.product>
@using LaptopWorldStore.Controllers;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PagedList;
@using PagedList.Mvc;
@{ 
    var orderString = ViewBag.order;
}
<div class="main-content">
   
    <div class="flexrow sorter">
        <h3 class="tittle">Sắp xếp: </h3>
        <button class="sortbutton"><a href="@Url.Action("Index", "laptops",new { page = 1, order = "des"})" style="color: rgb(9, 151, 151);">Giá giảm dần</a> </button>
        <button class="sortbutton" ><a href="@Url.Action("Index", "laptops",new { page = 1, order = "asc"})" style="color: rgb(9, 151, 151);">Giá tăng dần</a> </button>
    </div>
    <div id="productshows" class="col-12 flexrow wrap ">

        @foreach (var item in Model)
        {
            <section class="productbox col-2 col-s-6 ">
                <a href='@Url.Action("Details", "laptops", new { id = item.product_id })'>
                    <img src="@Url.Content("~/Content/images/product/" + item.picture)" height="120" class="col-12" />
                </a>
                <small>ID: @item.product_id</small>
                <h4 class="productname"> @Html.ActionLink(@item.product_name, "Details", "laptops", new { id = item.product_id }, null)</h4>
                <p>Giá: <span class="productprice">@string.Format("{0: ###,###,###,000}", @item.price) đ</span></p>
            </section>


        }


    </div>
    <div class="col-2 marginauto">
        @Html.PagedListPager(Model, page => Url.Action("Index", "laptops", new
        {
            page,
            order = orderString
   }),
                                                                                 new PagedListRenderOptions
                                                                                 {
                                                                                     ContainerDivClasses = new string[] { "page-item" }
                                                                                 })
    </div>
</div>
<link href="~/Content/css/productpage.css" rel="stylesheet" />